__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.DS_Store
.venv/

.venv
venv
env

# Environment files
.env

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Airflow artifacts
airflow_home/logs/
airflow_home/dags/__pycache__/
airflow_home/plugins/__pycache__/

# Local SQLite DB (optional to ignore if not committing DB)
crypto_flow_django/db.sqlite3

# Node (future front-end)
node_modules/